# Configuration file

client {
    # Stores the last state of AutoSprint.
    B:autoSprintState=true

    # Color of the indicator background (stored as a hex value).
    S:indicatorBackgroundColor=17233150

    # The text that will be shown on the indicator when the mod is disabled.
    S:indicatorDisabledText=Off

    # Color of the text on the indicator when the mod is disabled (stored as a hex value).
    S:indicatorDisabledTextColor=ff0000ff

    # Specifies on which side of the screen the indicator displays.
    S:indicatorOffsetAnchor=Top left

    # The offset from the corner of the screen (Axis X).
    I:indicatorOffsetX=5

    # The offset from the corner of the screen (Axis Y).
    I:indicatorOffsetY=11

    # The text that will be shown on the indicator when the mod is enabled.
    S:indicatorText=On

    # Color of the text on the indicator when the mod is enabled (stored as a hex value).
    S:indicatorTextColor=ffffffff

    # Determines whether the AutoSprint state will be restored upon game startup.
    B:rememberAutoSprintState=true

    # Determines whether to render a rectangular background behind the indicator.
    B:renderIndicatorBackground=true

    # Determines whether to show the indicator even if the mod is disabled.
    B:showDisabledIndicator=false

    # Determines whether an indicator with the mod state will be displayed.
    B:showIndicator=true
}


